name: Fetch TLE

permissions:
  contents: read

on:
  schedule:
    - cron: '45 4,12,20 * * *'
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12.4"
          cache: "pip"

      - run: pip install -r requirements.txt

      # THIS IS THE IMPORTANT CHANGE
      - name: Run Extraction Script
        env: 
          DATABASE_URL: ${{ env.DATABASE_URL }}
        run: python script.py